<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Gokulnath Avanashilingam">
	<title>{{ page.title }} | Gokulnath Avanashilingam</title>
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
	{% include analytics.html %}	
</head>
